.logo-container {
  display: flex;
  align-items: center;
}
.score-container {
  display: flex;
  align-items: center;
}
.logo-image {
  height: 40px;
}
.logo-text {
  font-size: 26px;
}
.score {
  font-size: 24px;
  margin-right: 20px;
}
