/* Write your code here. */
.nav-container {
  background: #ffffff33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  padding-left: 8%;
  padding-right: 8%;
}
.website-logo {
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-name {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
}

.score-container {
  display: flex;
  align-items: center;
  font-family: Roboto;
  color: #ffffff;
}

.score {
  margin-right: 10px;
}
